body {
    background-image: url("../image/pic.jpg");
    background-size: cover;
}

h1 {
    color: darkgoldenrod;
    text-align: center;
    text-emphasis: bold;
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
}

h3 {
    color: crimson;
    font-size: 25px;
}

label {
    color: white;
    text-transform: capitalize;
    font-size: 20px;
}

.wrapper {
    width: 950px;
    height: auto;
    padding: 13px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}

input {
    border: 1px solid orange;
    background-color: orange;
}